/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "twitter/bootstrap";

li{
	list-style:none;
}

.edit_remove{
	float: right;
}

.container{
	padding-left: 7%;
	padding-right: 7%;
}

.margin_10px{
	margin-left: 10px;
}

body {
 background-image: url("background.gif");
 background-repeat: repeat;
}

.white-background{
	background: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 20px;
	padding-top: 12px;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: -4%;
}

h2{
	margin-top: 0px;
}

.bold{
	font-weight: 700;
}

.offset2{
	margin-left: 25%;
}

