// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_edit{
	width: 90px;
	height: 90px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.icon_big{
	width: 72px;
	height: 72px;
	float: right;
	margin-right: 10px;
}